<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	    <!--
	        Sections take the form shown below:

	        <section name="section name" type="configuration section handler class, assembly" />

	        Any sections added to this file will be accessible by all applications on the device. Application
	        specific sections should be added to the application's app.config file
	    -->
		<!-- tell .NET Framework to ignore CLR sections -->
    <section name="runtime" type="OpenNETCF.Configuration.IgnoreSectionHandler, OpenNETCF, Version=1.3.50511.0, Culture=neutral, PublicKeyToken=30c767b29d52d6e6" allowLocation="false" />
    <section name="mscorlib" type="OpenNETCF.Configuration.IgnoreSectionHandler, OpenNETCF, Version=1.3.50511.0, Culture=neutral, PublicKeyToken=30c767b29d52d6e6" allowLocation="false" />
    <section name="startup" type="OpenNETCF.Configuration.IgnoreSectionHandler, OpenNETCF, Version=1.3.50511.0, Culture=neutral, PublicKeyToken=30c767b29d52d6e6" allowLocation="false" />
		<section name="appSettings" type="OpenNETCF.Configuration.NameValueFileSectionHandler, OpenNETCF, Version=1.3.50511.0, Culture=neutral, PublicKeyToken=30c767b29d52d6e6" allowLocation="false" />
		<section name="opennetcf.diagnostics" type="OpenNETCF.Diagnostics.DiagnosticsConfigurationHandler, OpenNETCF"/>
	</configSections>
	<startup>
		<supportedRuntime version="v1.2.3346"/>
	  <supportedRuntime version="v1.1.3288"/>
    <supportedRuntime version="v1.0.2904"/>
    <requiredRuntime version="v1.2.3346"/>
	</startup>
</configuration>